In [1]:
import pandas as pd

df = pd.read_csv("tips.csv")
df.head()
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

import pandas

Python ładuje bibliotekę pandas do bieżącego programu / notebooka.

Od tego momentu masz dostęp do całej funkcjonalności pandas (praca z danymi tabelarycznymi, CSV, Excel, DataFrame itp.).

Bez tej linijki Python nie zna pandas i każda próba jej użycia zakończy się błędem.

as pd — nadanie aliasu

pd to alias (skrót), który zastępuje długą nazwę pandas.


To:

skraca kod,

jest branżowym standardem (każdy analityk Pythona używa pd),

poprawia czytelność notebooków.




df = pd.read_csv("tips.csv")


Wczytuje plik tips.csv z dysku i zamienia go w tabelę danych (DataFrame), którą zapisuje do zmiennej df.


pd

Alias biblioteki pandas

Punkt wejścia do wszystkich funkcji pandas


read_csv(...)

Funkcja pandas, która:

otwiera plik CSV,

czyta go wiersz po wierszu,

rozdziela dane na kolumny,

tworzy obiekt typu DataFrame

CSV = Comma-Separated Values
(pliki tekstowe, gdzie dane są oddzielone przecinkami)


"tips.csv"

Nazwa pliku do wczytania

Pandas szuka go:

w aktualnym katalogu roboczym (tam, gdzie uruchomiony jest notebook)

albo w ścieżce, jeśli ją podasz:

pd.read_csv("projects/04-data-analytics/tips.csv")


df =

df to zmienna

Przypisujesz do niej wynik działania pd.read_csv(...)

Tym wynikiem jest DataFrame

Od tej chwili:

df


= tabela danych w pamięci RAM

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [3]:
df[df['total_bill'] > 20]

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
237       32.83  1.17    Male    Yes  Sat  Dinner     2
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[97 rows x 7 columns]

In [4]:
df[df["sex"] == "Female"]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

Podsumowanie

== → sprawdza równość

df[warunek] → wybiera tylko wiersze spełniające warunek

In [5]:
df[(df["total_bill"] > 20) & (df["tip"] > 3)]

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
212       48.33  9.00    Male     No  Sat  Dinner     4
214       28.17  6.50  Female    Yes  Sat  Dinner     3
219       30.14  3.09  Female    Yes  Sat  Dinner     4
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3

[67 rows x 7 columns]

In [6]:
df[(df["day"] == "Sun") | (df["day"] == "Sat") ]

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]

Operator & i | w pandas

& → logiczne AND element po elemencie

| → logiczne OR element po elemencie

Reguła do zapamiętania

W pandas:

każdy warunek → nawias

& = i

| = lub

nigdy and / or

In [7]:
df[df["day"].isin(["Sat", "Sun"])]

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]

isin() to metoda biblioteki pandas, używana do sprawdzania, czy wartości znajdują się w określonym zbiorze wartości. Najczęściej stosuje się ją do filtrowania DataFrame lub Series na podstawie listy dopuszczalnych elementów.

In [8]:
df[df["time"] == "Dinner"]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

W pandas operator == jest operatorem porównania równości, używanym do wektorowego porównywania danych w obiektach takich jak Series i DataFrame.


Zasada praktyczna

Jeśli myślisz „czy to jest jedna z tych wartości” → użyj isin()
Jeśli myślisz „czy to jest dokładnie to” → użyj ==

In [9]:
df.sort_values("total_bill", ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [10]:
df.sort_values(["day", "tip"], ascending=[True, False])

     total_bill   tip     sex smoker   day    time  size
95        40.17  4.73    Male    Yes   Fri  Dinner     4
93        16.32  4.30  Female    Yes   Fri  Dinner     2
96        27.28  4.00    Male    Yes   Fri  Dinner     2
91        22.49  3.50    Male     No   Fri  Dinner     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
145        8.35  1.50  Female     No  Thur   Lunch     2
126        8.52  1.48    Male     No  Thur   Lunch     2
195        7.56  1.44    Male     No  Thur   Lunch     2
146       18.64  1.36  Female     No  Thur   Lunch     3
135        8.51  1.25  Female     No  Thur   Lunch     2

[244 rows x 7 columns]

In [11]:
df[["total_bill", "tip", "sex"]]

     total_bill   tip     sex
0         16.99  1.01  Female
1         10.34  1.66    Male
2         21.01  3.50    Male
3         23.68  3.31    Male
4         24.59  3.61  Female
..          ...   ...     ...
239       29.03  5.92    Male
240       27.18  2.00  Female
241       22.67  2.00    Male
242       17.82  1.75    Male
243       18.78  3.00  Female

[244 rows x 3 columns]

In [12]:
df[df["tip"] > 5][["total_bill", "tip", "day"]]

     total_bill    tip   day
23        39.42   7.58   Sat
44        30.40   5.60   Sun
47        32.40   6.00   Sun
52        34.81   5.20   Sun
59        48.27   6.73   Sat
85        34.83   5.17  Thur
88        24.71   5.85  Thur
116       29.93   5.07   Sun
141       34.30   6.70  Thur
155       29.85   5.14   Sun
170       50.81  10.00   Sat
172        7.25   5.15   Sun
181       23.33   5.65   Sun
183       23.17   6.50   Sun
211       25.89   5.16   Sat
212       48.33   9.00   Sat
214       28.17   6.50   Sat
239       29.03   5.92   Sat

In [13]:
df.sort_values("total_bill", ascending=False).head(5)

     total_bill    tip   sex smoker  day    time  size
170       50.81  10.00  Male    Yes  Sat  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4
59        48.27   6.73  Male     No  Sat  Dinner     4
156       48.17   5.00  Male     No  Sun  Dinner     6
182       45.35   3.50  Male    Yes  Sun  Dinner     3

Tak można sprawdzić top (5) wybranej wartości.

In [14]:
df.sort_values("tip", ascending=False).head(5)

     total_bill    tip   sex smoker   day    time  size
170       50.81  10.00  Male    Yes   Sat  Dinner     3
212       48.33   9.00  Male     No   Sat  Dinner     4
23        39.42   7.58  Male     No   Sat  Dinner     4
59        48.27   6.73  Male     No   Sat  Dinner     4
141       34.30   6.70  Male     No  Thur   Lunch     6

Top (5) największych napiwków ever.

In [15]:
df[(df["time"] == "Dinner") & (df["day"].isin(["Sat", "Sun"]))].shape

(163, 7)

Sprawdzając np. ile kolacji było w weekend można użyć .shape aby nie wyświtlać tabeli, a jedynie jej kształt jako wartość liczbową.

In [16]:
df[df["total_bill"] > 20]["tip"].mean()

np.float64(3.929484536082474)

.mean() sprawdzam średni napiwek dla total_bill > 20
średni napiwek dla rachunków powyżej 20 wynosi w przybliżeniu 4

                                     ************************ Next Day*************************

In [17]:
df["total_bill"]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

dtype: float64

Typ danych: liczby zmiennoprzecinkowe

Dzięki temu możesz wykonywać obliczenia matematyczne

In [18]:
df[["total_bill","tip","sex"]]

     total_bill   tip     sex
0         16.99  1.01  Female
1         10.34  1.66    Male
2         21.01  3.50    Male
3         23.68  3.31    Male
4         24.59  3.61  Female
..          ...   ...     ...
239       29.03  5.92    Male
240       27.18  2.00  Female
241       22.67  2.00    Male
242       17.82  1.75    Male
243       18.78  3.00  Female

[244 rows x 3 columns]

Dlaczego są podwójne nawiasy [[ ... ]]

Zewnętrzne []
→ operator indeksowania DataFrame (__getitem__)

Wewnętrzne [ ... ]
→ lista nazw kolumn

Czyli technicznie przekazujesz do DataFrame listę kolumn, które chcesz zachować.

In [20]:
df[(df["total_bill"] > 30) & (df["tip"] < 2) & (df["day"] == "Sun")]

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []

In [21]:
df[df["day"] == "Sun"]

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3
190       15.69  1.50    Male    Yes  Sun  Dinner     2

[76 rows x 7 columns]

= — operator przypisania (assignment)

= przypisuje wartość do zmiennej.

x = 10


Znaczenie:

„Do zmiennej x przypisz wartość 10”.

Nie jest to pytanie ani sprawdzenie czegokolwiek — to polecenie.

2. == — operator porównania (comparison)

== sprawdza, czy dwie wartości są równe i zwraca wynik logiczny: True albo False.

x == 10

In [22]:
df[(df["total_bill"] > 20) & (df["tip"] > 3)]

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
212       48.33  9.00    Male     No  Sat  Dinner     4
214       28.17  6.50  Female    Yes  Sat  Dinner     3
219       30.14  3.09  Female    Yes  Sat  Dinner     4
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3

[67 rows x 7 columns]

1. Dlaczego każdy warunek musi być w nawiasach?

Powody są dwa:
kolejność wykonywania operatorów oraz sposób działania pandas Series.

a) Kolejność operatorów (operator precedence)

Python najpierw wykonuje operatory porównań (>, <, ==), a dopiero potem operatory logiczne (&, |).

Czyli:

df["total_bill"] > 20


zwraca Series wartości True/False.

Dopiero dwie takie Series można połączyć operatorem &.

b) & działa na CAŁYCH Series, nie na pojedynczych wartościach

W pandas:

df["total_bill"] > 20 → Series bool

df["tip"] > 3 → Series bool

& łączy element po elemencie (wektorowo)

To działa tylko wtedy, gdy & dostanie dwie gotowe Series.

2. Co by się stało bez nawiasów?

Załóżmy, że napisałbyś:

df[df["total_bill"] > 20 & df["tip"] > 3]


Python przeczyta to w takiej kolejności:

df["total_bill"] > (20 & df["tip"]) > 3


I tu zaczyna się problem.

Co jest nie tak?

20 & df["tip"]
→ Python próbuje wykonać operację bitową &
→ między liczbą 20 a Series floatów

To kończy się błędem w stylu:

TypeError: unsupported operand type(s) for &: 'int' and 'Series'


Albo:

ValueError: The truth value of a Series is ambiguous

3. Dlaczego and / or też NIE działają?

Częsty błąd początkujących:

df[(df["total_bill"] > 20) and (df["tip"] > 3)]


To zawsze jest błąd, ponieważ:

and / or działają tylko na pojedynczych wartościach True/False

pandas Series zawiera wiele wartości

Python nie wie, czy Series jest „prawdziwa czy fałszywa jako całość”.

4. Poprawny schemat filtrowania w pandas (do zapamiętania)

Zawsze:

df[
    (warunek_1)
    & (warunek_2)
]


Lub:

df[
    (warunek_1)
    | (warunek_2)
]


Gdzie każdy warunek:

jest porównaniem

zwraca Series bool

5. Mentalny model (najważniejsze)


Najpierw pandas tworzy maski logiczne

Potem & / | łączy maski

Na końcu DataFrame jest filtrowany

Bez nawiasów Python nie wie, gdzie kończy się warunek, a gdzie zaczyna logika.

In [23]:
df[(df["day"] == "Sun") | (df["day"] == "Sat")]

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]

OR (|)

In [24]:
df[~(df["sex"] == "Male")]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

NOT (~)

In [25]:
df.loc[df["total_bill"] > 25, ["total_bill", "tip", "day"]]

     total_bill    tip   day
5         25.29   4.71   Sun
7         26.88   3.12   Sun
11        35.26   5.00   Sun
23        39.42   7.58   Sat
39        31.27   5.00   Sat
44        30.40   5.60   Sun
47        32.40   6.00   Sun
48        28.55   2.05   Sun
52        34.81   5.20   Sun
54        25.56   4.34   Sun
56        38.01   3.00   Sat
57        26.41   1.50   Sat
59        48.27   6.73   Sat
72        26.86   3.14   Sat
73        25.28   5.00   Sat
77        27.20   4.00  Thur
83        32.68   5.00  Thur
85        34.83   5.17  Thur
90        28.97   3.00   Fri
95        40.17   4.73   Fri
96        27.28   4.00   Fri
102       44.30   2.50   Sat
107       25.21   4.29   Sat
112       38.07   4.00   Sun
114       25.71   4.00   Sun
116       29.93   5.07   Sun
125       29.80   4.20  Thur
141       34.30   6.70  Thur
142       41.19   5.00  Thur
143       27.05   5.00  Thur
155       29.85   5.14   Sun
156       48.17   5.00   Sun
167       31.71   4.50   Sun
170       50.81  10.00   Sat
173       31.85   3.18   Sun
175       32.90   3.11   Sun
179       34.63   3.55   Sun
180       34.65   3.68   Sun
182       45.35   3.50   Sun
184       40.55   3.00   Sun
187       30.46   2.00   Sun
192       28.44   2.56  Thur
197       43.11   5.00  Thur
206       26.59   3.41   Sat
207       38.73   3.00   Sat
210       30.06   2.00   Sat
211       25.89   5.16   Sat
212       48.33   9.00   Sat
214       28.17   6.50   Sat
216       28.15   3.00   Sat
219       30.14   3.09   Sat
237       32.83   1.17   Sat
238       35.83   4.67   Sat
239       29.03   5.92   Sat
240       27.18   2.00   Sat

1. df[...] — skrótowy operator indeksowania

df[...] to uniwersalny, przeciążony operator, który zachowuje się różnie w zależności od tego, co wstawisz do środka.

Najczęstsze znaczenia:
df["total_bill"]              # pojedyncza kolumna (Series)
df[["total_bill", "tip"]]     # wiele kolumn (DataFrame)
df[mask]                      # filtrowanie wierszy (gdzie mask = True/False)


Przykład:

df[df["total_bill"] > 25]


➡️ wybiera wiersze, ale nie kolumny jednocześnie
➡️ kolumny trzeba wybrać w osobnym kroku

df[df["total_bill"] > 25][["total_bill", "tip", "day"]]

Wady df[...]

brak jawnego rozdzielenia: wiersze vs kolumny

łatwiej o:

nieczytelny kod

ostrzeżenie SettingWithCopyWarning

trudniej zrozumieć kod po kilku tygodniach

2. df.loc[...] — indeksowanie etykietami (jawne i bezpieczne)

loc zawsze działa według schematu:

df.loc[wiersze, kolumny]


Twoje wyrażenie:

df.loc[df["total_bill"] > 25, ["total_bill", "tip", "day"]]


czytamy dosłownie:

„Daj wiersze, gdzie total_bill > 25, oraz kolumny: total_bill, tip, day”

Zalety loc

jednoznaczność

większa czytelność

brak niejasnych zachowań

bezpieczniejsze przy modyfikacji danych

3. Kiedy loc jest wyraźnie czytelniejsze?
✅ Gdy wybierasz wiersze i kolumny jednocześnie
df.loc[df["day"] == "Sun", ["total_bill", "tip"]]


vs

df[df["day"] == "Sun"][["total_bill", "tip"]]  # mniej czytelne

✅ Gdy masz więcej warunków
df.loc[
    (df["day"] == "Sun") & (df["total_bill"] > 25),
    ["total_bill", "tip", "size"]
]


To jest:

logiczne

czytelne

łatwe do debugowania

✅ Gdy zmieniasz dane
df.loc[df["total_bill"] > 25, "tip"] = 5


❌ Unikaj:

df[df["total_bill"] > 25]["tip"] = 5


To częsty błąd początkujących (kopie vs widoki).

4. Reguła praktyczna (bardzo ważna)


df[...] → szybki skrót do odczytu

df.loc[...] → precyzyjna selekcja i edycja danych

Jeśli:

kod ma być czytelny

wrócisz do niego za miesiąc

planujesz modyfikacje danych

➡️ używaj loc

5. Jedno zdanie do zapamiętania

loc mówi pandasowi dokładnie: które wiersze i które kolumny.
df[...] zostawia to do domyślenia.

Mini-zadania

In [ ]:
Klienci z napiwkiem większym niż średni napiwek

In [26]:
df[(df["tip"] > df["tip"].mean())]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[121 rows x 7 columns]

In [31]:
avg_tip = df["tip"].mean()
df.loc[df["tip"] > avg_tip]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[121 rows x 7 columns]

Rachunki z weekendu i powyżej 30

In [36]:
df.loc[
    ((df["day"] == "Sun") | (df["day"] == "Sat"))
      & (df["total_bill"] > 30)]

     total_bill    tip     sex smoker  day    time  size
11        35.26   5.00  Female     No  Sun  Dinner     4
23        39.42   7.58    Male     No  Sat  Dinner     4
39        31.27   5.00    Male     No  Sat  Dinner     3
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
56        38.01   3.00    Male    Yes  Sat  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
102       44.30   2.50  Female    Yes  Sat  Dinner     3
112       38.07   4.00    Male     No  Sun  Dinner     3
156       48.17   5.00    Male     No  Sun  Dinner     6
167       31.71   4.50    Male     No  Sun  Dinner     4
170       50.81  10.00    Male    Yes  Sat  Dinner     3
173       31.85   3.18    Male    Yes  Sun  Dinner     2
175       32.90   3.11    Male    Yes  Sun  Dinner     2
179       34.63   3.55    Male    Yes  Sun  Dinner     2
180       34.65   3.68    Male    Yes  Sun  Dinner     4
182       45.35   3.50    Male    Yes  Sun  Dinner     3
184       40.55   3.00    Male    Yes  Sun  Dinner     2
187       30.46   2.00    Male    Yes  Sun  Dinner     5
207       38.73   3.00    Male    Yes  Sat  Dinner     4
210       30.06   2.00    Male    Yes  Sat  Dinner     3
212       48.33   9.00    Male     No  Sat  Dinner     4
219       30.14   3.09  Female    Yes  Sat  Dinner     4
237       32.83   1.17    Male    Yes  Sat  Dinner     2
238       35.83   4.67  Female     No  Sat  Dinner     3

In [37]:
df.loc[
    df["day"].isin(["Sat", "Sun"]) 
    & (df["total_bill"] > 30)
]

     total_bill    tip     sex smoker  day    time  size
11        35.26   5.00  Female     No  Sun  Dinner     4
23        39.42   7.58    Male     No  Sat  Dinner     4
39        31.27   5.00    Male     No  Sat  Dinner     3
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
56        38.01   3.00    Male    Yes  Sat  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
102       44.30   2.50  Female    Yes  Sat  Dinner     3
112       38.07   4.00    Male     No  Sun  Dinner     3
156       48.17   5.00    Male     No  Sun  Dinner     6
167       31.71   4.50    Male     No  Sun  Dinner     4
170       50.81  10.00    Male    Yes  Sat  Dinner     3
173       31.85   3.18    Male    Yes  Sun  Dinner     2
175       32.90   3.11    Male    Yes  Sun  Dinner     2
179       34.63   3.55    Male    Yes  Sun  Dinner     2
180       34.65   3.68    Male    Yes  Sun  Dinner     4
182       45.35   3.50    Male    Yes  Sun  Dinner     3
184       40.55   3.00    Male    Yes  Sun  Dinner     2
187       30.46   2.00    Male    Yes  Sun  Dinner     5
207       38.73   3.00    Male    Yes  Sat  Dinner     4
210       30.06   2.00    Male    Yes  Sat  Dinner     3
212       48.33   9.00    Male     No  Sat  Dinner     4
219       30.14   3.09  Female    Yes  Sat  Dinner     4
237       32.83   1.17    Male    Yes  Sat  Dinner     2
238       35.83   4.67  Female     No  Sat  Dinner     3

In [ ]:
Tylko kobiety z napiwkiem < 3

In [42]:
df.loc[
    (df["sex"] == "Female") 
    & (df["tip"] < 3)]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
33        20.69  2.45  Female     No   Sat  Dinner     4
51        10.29  2.60  Female     No   Sun  Dinner     2
57        26.41  1.50  Female     No   Sat  Dinner     2
66        16.45  2.47  Female     No   Sat  Dinner     2
67         3.07  1.00  Female    Yes   Sat  Dinner     1
74        14.73  2.20  Female     No   Sat  Dinner     2
82        10.07  1.83  Female     No  Thur   Lunch     1
92         5.75  1.00  Female    Yes   Fri  Dinner     2
100       11.35  2.50  Female    Yes   Fri  Dinner     2
102       44.30  2.50  Female    Yes   Sat  Dinner     3
111        7.25  1.00  Female     No   Sat  Dinner     1
117       10.65  1.50  Female     No  Thur   Lunch     2
118       12.43  1.80  Female     No  Thur   Lunch     2
119       24.08  2.92  Female     No  Thur   Lunch     4
121       13.42  1.68  Female     No  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
127       14.52  2.00  Female     No  Thur   Lunch     2
128       11.38  2.00  Female     No  Thur   Lunch     2
131       20.27  2.83  Female     No  Thur   Lunch     2
132       11.17  1.50  Female     No  Thur   Lunch     2
133       12.26  2.00  Female     No  Thur   Lunch     2
135        8.51  1.25  Female     No  Thur   Lunch     2
136       10.33  2.00  Female     No  Thur   Lunch     2
137       14.15  2.00  Female     No  Thur   Lunch     2
139       13.16  2.75  Female     No  Thur   Lunch     2
144       16.43  2.30  Female     No  Thur   Lunch     2
145        8.35  1.50  Female     No  Thur   Lunch     2
146       18.64  1.36  Female     No  Thur   Lunch     3
147       11.87  1.63  Female     No  Thur   Lunch     2
158       13.39  2.61  Female     No   Sun  Dinner     2
162       16.21  2.00  Female     No   Sun  Dinner     3
168       10.59  1.61  Female    Yes   Sat  Dinner     2
169       10.63  2.00  Female    Yes   Sat  Dinner     2
198       13.00  2.00  Female    Yes  Thur   Lunch     2
201       12.74  2.01  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
203       16.40  2.50  Female    Yes  Thur   Lunch     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
213       13.27  2.50  Female    Yes   Sat  Dinner     2
215       12.90  1.10  Female    Yes   Sat  Dinner     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2

Dni inne niż weekend

In [44]:
df.loc[~(df["day"].isin (["Sat", "Sun"]))]

     total_bill   tip     sex smoker   day    time  size
77        27.20  4.00    Male     No  Thur   Lunch     4
78        22.76  3.00    Male     No  Thur   Lunch     2
79        17.29  2.71    Male     No  Thur   Lunch     2
80        19.44  3.00    Male    Yes  Thur   Lunch     2
81        16.66  3.40    Male     No  Thur   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[81 rows x 7 columns]

In [ ]:
Mini projekt 8 – Analiza klientów premium

zdefiniuj klienta „premium” jako total_bill > 40

ilu jest takich klientów

średni napiwek

w jakie dni się pojawiają

In [56]:
customer_premium = df[
    (df["total_bill"] > 40)]

customer_premium

     total_bill    tip     sex smoker   day    time  size
59        48.27   6.73    Male     No   Sat  Dinner     4
95        40.17   4.73    Male    Yes   Fri  Dinner     4
102       44.30   2.50  Female    Yes   Sat  Dinner     3
142       41.19   5.00    Male     No  Thur   Lunch     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
184       40.55   3.00    Male    Yes   Sun  Dinner     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
212       48.33   9.00    Male     No   Sat  Dinner     4

In [57]:
customer_premium.shape[0]

10

Jest 10 takich klientów

In [66]:
customer_premium["tip"].mean()

np.float64(5.446)

Średni napiwek takich klientów to 5,4

In [67]:
customer_premium["day"].value_counts()

day
Sat     4
Sun     3
Thur    2
Fri     1
Name: count, dtype: int64

.value_counts() zwraca liczbę pozycji dla każdej wartości w tym przypadku ["day"]

In [77]:
customer_premium = df[
    (df["total_bill"] > 40)]
print(customer_premium.shape)
print(customer_premium["tip"].mean())
print(customer_premium["day"].value_counts())

(10, 7)
5.446
day
Sat     4
Sun     3
Thur    2
Fri     1
Name: count, dtype: int64

Notebook pokazuje tylko wynik ostatniej linijki, czyli value_counts(). aby pokazał każdy wynik można użyć komendy print()