Lesson 6

Groupby and aggregations

0) setup

In [9]:
import pandas as pd
df = pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Goals to learn:

-group data
-analize stats for groups
-merge groupby with filters
-analize code and data

Warmup

In [10]:
print(df.head())
print(df.info())
print(df.describe())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Groupby

In [11]:
df.groupby("sex")["tip"].mean()

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

groupby("sex") → group data by sex

["tip"] → chose column

.mean() → carculate mean()

In [12]:
df.groupby("day")["total_bill"].mean()

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64

In [13]:
df.groupby("day").size()

day
Fri     19
Sat     87
Sun     76
Thur    62
dtype: int64

In [14]:
df.groupby("time")["tip"].mean()

time
Dinner    3.102670
Lunch     2.728088
Name: tip, dtype: float64

aggregation

In [17]:
df.groupby("day")["total_bill"].agg(["mean", "max", "min", "count"])

           mean    max   min  count
day
Fri   17.151579  40.17  5.75     19
Sat   20.441379  50.81  3.07     87
Sun   21.410000  48.17  7.25     76
Thur  17.682742  43.11  7.51     62

group by more than one column

In [18]:
df.groupby(["day","sex"])["total_bill"].mean()

day   sex
Fri   Female    14.145556
      Male      19.857000
Sat   Female    19.680357
      Male      20.802542
Sun   Female    19.872222
      Male      21.887241
Thur  Female    16.715312
      Male      18.714667
Name: total_bill, dtype: float64

groupby with filter

In [19]:
df[df["total_bill"] >30].groupby("day")["tip"].mean()

day
Fri     4.730000
Sat     4.811667
Sun     4.094286
Thur    5.374000
Name: tip, dtype: float64

Mini-tasks (do them on your own)

Do each one in a separate cell:

Average tip by gender

Maximum bill for each day

Number of customers at Lunch vs Dinner

Average bill for women and men separately

Average tip on the weekend (Sat, Sun)

In [20]:
df.groupby("sex")["tip"].mean()

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [21]:
df.groupby("day")["total_bill"].max()

day
Fri     40.17
Sat     50.81
Sun     48.17
Thur    43.11
Name: total_bill, dtype: float64

In [28]:
df.groupby("time").size()

time
Dinner    176
Lunch      68
dtype: int64

In [29]:
df.groupby("sex")["total_bill"].mean()

sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64

Average tip on the weekend (Sat + Sun)

In [31]:
df[df["day"].isin(["Sat", "Sun"])]["tip"].mean()

np.float64(3.115276073619632)

Average tip on the weekend (Sat, Sun) each day separatly

In [33]:
df[df["day"].isin(["Sat","Sun"])].groupby("day")["tip"].mean()

day
Sat    2.993103
Sun    3.255132
Name: tip, dtype: float64

Mini day project


Analysis:

“Which days and times of day are the most profitable?”

Calculate:

Average bill by day

Average tip by day

Average bill by time (Lunch/Dinner)

Add short conclusions in Markdown, for example:

“Highest bills occur on Saturdays during dinner.”

 This is very important — the conclusions are more important than the code.

In [ ]:
# Average bill by day

df.groupby("day")["total_bill"].mean()

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64

In [ ]:
# Average tip by day

df.groupby("day")["tip"].mean()

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

In [ ]:
# Average bill by time of day

df.groupby("time")["total_bill"].mean()

time
Dinner    20.797159
Lunch     17.168676
Name: total_bill, dtype: float64

Conclusions 
 Profitability by Day

Saturdays and Sundays generate the highest average bills, indicating stronger customer spending on weekends.

Average tips are also highest on weekends, which suggests higher overall profitability and better tipping behavior.

Weekdays (especially Thursday) show lower average bills and tips, making them less profitable in comparison.

 Profitability by Time of Day

Dinner is significantly more profitable than Lunch.

The average bill during Dinner is much higher, indicating customers spend more in the evening.

Lunch appears to be more volume-based, while Dinner is value-based.

 Final Insight

The most profitable period is weekend dinners, especially Saturdays.
Businesses should prioritize staffing, promotions, and premium offerings during this time to maximize revenue.